apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-registry
  namespace: vehicle-manufacturing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-registry
  template:
    metadata:
      labels:
        app: service-registry
    spec:
      containers:
      - name: service-registry
        image: youracr.azurecr.io/vehicle-manufacturing:service-registry
        ports:
        - containerPort: 8761
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "azure"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: vehicle-manufacturing
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway
        image: youracr.azurecr.io/vehicle-manufacturing:api-gateway
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "azure"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://service-registry:8761/eureka/"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vehicle-service
  namespace: vehicle-manufacturing
spec:
  replicas: 3
  selector:
    matchLabels:
      app: vehicle-service
  template:
    metadata:
      labels:
        app: vehicle-service
    spec:
      containers:
      - name: vehicle-service
        image: youracr.azurecr.io/vehicle-manufacturing:vehicle-service
        ports:
        - containerPort: 8081
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "azure"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://service-registry:8761/eureka/"
        - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
          valueFrom:
            secretKeyRef:
              name: kafka-secrets
              key: bootstrap-servers
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: manufacturing-service
  namespace: vehicle-manufacturing
spec:
  replicas: 2
  selector:
    matchLabels:
      app: manufacturing-service
  template:
    metadata:
      labels:
        app: manufacturing-service
    spec:
      containers:
      - name: manufacturing-service
        image: youracr.azurecr.io/vehicle-manufacturing:manufacturing-service
        ports:
        - containerPort: 8082
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "azure"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://service-registry:8761/eureka/"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: vehicle-manufacturing
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
      - name: inventory-service
        image: youracr.azurecr.io/vehicle-manufacturing:inventory-service
        ports:
        - containerPort: 8083
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "azure"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://service-registry:8761/eureka/"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: vehicle-manufacturing
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: youracr.azurecr.io/vehicle-manufacturing:order-service
        ports:
        - containerPort: 8084
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "azure"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://service-registry:8761/eureka/"
