apiVersion: v1
kind: Service
metadata:
  name: service-registry
  namespace: vehicle-manufacturing
spec:
  type: ClusterIP
  ports:
  - port: 8761
    targetPort: 8761
  selector:
    app: service-registry
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: vehicle-manufacturing
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: api-gateway
---
apiVersion: v1
kind: Service
metadata:
  name: vehicle-service
  namespace: vehicle-manufacturing
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
  selector:
    app: vehicle-service
---
apiVersion: v1
kind: Service
metadata:
  name: manufacturing-service
  namespace: vehicle-manufacturing
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: 8082
  selector:
    app: manufacturing-service
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: vehicle-manufacturing
spec:
  type: ClusterIP
  ports:
  - port: 8083
    targetPort: 8083
  selector:
    app: inventory-service
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: vehicle-manufacturing
spec:
  type: ClusterIP
  ports:
  - port: 8084
    targetPort: 8084
  selector:
    app: order-service
